<footer>
    <div class="logo">Shortly</div>
    <div class="wrapper">        
            <div class="wrapper__footer-links">
                <h3>Features</h3>
                <ul>
                    <li><a href="#">Link Shortening</a></li>
                    <li><a href="#">Bronded Links</a></li>
                    <li><a href="#">Analytics</a></li>
                </ul>
            </div>
            <div class="wrapper__footer-links">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="wrapper__footer-links">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
    </div>
    <div class="social">
        <a href="#"><img src="assets/images/icon-facebook.svg" alt="social"></a>
        <a href="#"><img src="assets/images/icon-twitter.svg" alt="social"></a>
        <a href="#"><img src="assets/images/icon-pinterest.svg" alt="social"></a>
        <a href="#"><img src="assets/images/icon-instagram.svg" alt="social"></a>
    </div>

    
</footer>
<p class="portfolio">
    Portfolio of front-end developer Holub Roman (Angular 11 with shrtcode API  
    <a href="https://app.shrtco.de/docs" target="_blank">https://app.shrtco.de/docs</a>
</p>
